{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Meeting Topics</strong></a>

                <a class="button" href="{% url 'addPage' %}" >Add</a>

                <div class="dropdown">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-ui-actions">
                        <span>Topics</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-ui-actions" role="menu">
                      <div class="dropdown-content">
                          {% for post in allPosts %}
                        <a href="{% url 'postDetail' post.pk %}" class="dropdown-item">
                          {{post.title}}
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  


            </div>
        </nav>

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
    </body>
</html>